*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
  }

.Cartdetall2_body{
    width: 100%;
    
    
}
.Cartdetall2_title{
    width: 100%;
    display: flex;
    justify-content: center;
}
.Cartdetall2_form_main{
    margin-top: 50px;
}
.Cartdetall2_form{
    margin-top: 20px;
    border-top: 0.5px solid black;
    
    margin-bottom: 20px;
    cursor: pointer;
}
.Cartdetall2_form h2{
    margin-top: 20px;
}
.a{
    overflow:hidden
}
.Cartdetall2btn{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    cursor: pointer;
}
.Cartdetall2btn button{
    background-color: #9C3737;
    color: white;
    padding:  10px 50px;
    font-size: 20px;
    border-radius: 30px ;
    border: none;
    cursor: pointer;
    
}
.Cartdetall2btn a{
    text-decoration: none;
    color: white;
    cursor: pointer;
    
}
 