.product_cart{
    display: flex;
    margin-block: 10px;
    padding-bottom: 10px;
    border-bottom: 0.5px solid gray;
  }
.product_cart .product_cart_img{
    width: 20%;
  }
  .product_cart .product_cart_img img{
    width: 100%;
    border-radius: 20px;
  }
  .modalContainer .body .product_cart_detall_title{
    display: block;
    margin-bottom: 10px;
  }
  .product_cart .product_cart_detall{
    width: 70%;
    margin-left: 10px;
    font-size: 20px;
    
  }
  .oldprice{
    color: rgb(74, 72, 72);
    margin-inline:10px ;
  }
  .newprice{
    color: #E54343;
  }